body {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -40px;
  color: white;
  font-size: 40px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 0 10px 10px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0, 0.6);
}

.numbertext {
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.sidenav {
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 5%;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav h1 {
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
}

.butt {
  top: 50%;
  
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  width: 33%;
  
  vertical-align: center;
}

.butt:hover {
  background-color: rgba(0,0,0,0.2);
}

.padded {
  padding: 10px 10px 10px 10px;
  vertical-align: center;
}

.main {
  margin-left: 40%; /* Same width as the sidebar + left position in px */
  margin-right: 5%;
  margin-top: 5%;
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
